[Unit]
Description=mpv-web-remote
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=20
ExecStart=/usr/local/bin/mpv-web-remote %h/mpv

[Install]
WantedBy=default.target
